.todo {
    margin: 1rem;
    padding: .5rem;
    background-color: #85B79D;
    border-radius: 7px;
}

.colCenterAlign {
    display: flex;
    justify-content: center;
}

.colCenterAlignBtn {
    display: flex;
    justify-content: center;
    align-self: center;
}

