.app {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    border-style: solid;
    border-color: darkslategrey;
    background-color: #C0E5C8;
}

.loader {
    display: flex;
    justify-content: center;
}
